
.border-secondary {
    border: 2px solid $secondary;
}

$primary-tint-50: mix($primary, $accent);
$primary-tint-75: mix($accent, $primary-tint-50);
$primary-tint-100: mix($accent, $primary-tint-75);
$primary-tint-25: mix($primary, $primary-tint-50);
$primary-tint-0: mix($primary, $primary-tint-25);

$primary-shade-50: mix($primary, $secondary);
$primary-shade-75: mix($secondary, $primary-shade-50);
$primary-shade-100: mix($secondary, $primary-shade-75);
$primary-shade-25: mix($primary, $primary-shade-50);
$primary-shade-0: mix($primary, $primary-shade-25);

.text-primary-tint-50 {
    color: $primary-tint-50;
}

.bg-primary-tint-50 {
    background: $primary-tint-50;
}

.text-primary-tint-75 {
    color: $primary-tint-75;
}

.bg-primary-tint-75 {
    background: $primary-tint-75;
}

.text-primary-tint-100 {
    color: $primary-tint-100;
}

.bg-primary-tint-100 {
    background: $primary-tint-100;
}

.text-primary-tint-25 {
    color: $primary-tint-25;
}

.bg-primary-tint-25 {
    background: $primary-tint-25;
}

.text-primary-tint-0 {
    color: $primary-tint-0;
}

.bg-primary-tint-0 {
    background: $primary-tint-0;
}

.text-primary-shade-50 {
    color: $primary-shade-50;
}

.bg-primary-shade-50 {
    background: $primary-shade-50;
}

.text-primary-shade-75 {
    color: $primary-shade-75;
}

.bg-primary-shade-75 {
    background: $primary-shade-75;
}

.text-primary-shade-100 {
    color: $primary-shade-100;
}

.bg-primary-shade-100 {
    background: $primary-shade-100;
}

.text-primary-shade-25 {
    color: $primary-shade-25;
}

.bg-primary-shade-25 {
    background: $primary-shade-25;
}

.text-primary-shade-0 {
    color: $primary-shade-0;
}

.bg-primary-shade-0 {
    background: $primary-shade-0;
}