// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #312d47;
$secondary : #141526;
$accent    : #dddfed;

$dark      : #1D1D1D;

$positive  : #21BA45;
$negative  : #53566a;
$info      : #5191bf;
$warning   : #f8961e;

$text : #f0eee6;
$emphasis    : #5191bf;


$scale-text-0: #423f58;
$scale-text-1: #535168;
$scale-text-2: #656279;
$scale-text-3: #767489;
$scale-text-4: #87869a;
$scale-text-5: #9898ab;
$scale-text-6: #a9aabb;
$scale-text-7: #bbbbcc;
$scale-text-8: #cccddc;

$scale-secondary-0: #2e2b44;
$scale-secondary-1: #2b2840;
$scale-secondary-2: #28263d;
$scale-secondary-3: #25233a;
$scale-secondary-4: #232137;
$scale-secondary-5: #201f33;
$scale-secondary-6: #1d1c30;
$scale-secondary-7: #1a1a2d;
$scale-secondary-8: #171729;