
$scale-accent-0: #277ed5;
$scale-accent-1: #3486d8;
$scale-accent-2: #4f96dd;
$scale-accent-3: #6aa6e2;
$scale-accent-4: #84b6e7;
$scale-accent-5: #9fc6ed;
$scale-accent-6: #b9d6f2;
$scale-accent-7: #d4e6f7;
$scale-accent-8: #eef5fc;

$scale-secondary-0: #1973cd;
$scale-secondary-1: #196fc7;
$scale-secondary-2: #196fc7;
$scale-secondary-3: #1961b1;
$scale-secondary-4: #1859a5;
$scale-secondary-5: #18529a;
$scale-secondary-6: #184b8f;
$scale-secondary-7: #184484;
$scale-secondary-8: #173c78;
