
$scale-accent-0: #277ed5;
$scale-accent-1: #3486d8;
$scale-accent-2: #4f96dd;
$scale-accent-3: #6aa6e2;
$scale-accent-4: #84b6e7;
$scale-accent-5: #9fc6ed;
$scale-accent-6: #b9d6f2;
$scale-accent-7: #d4e6f7;
$scale-accent-8: #eef5fc;

$scale-secondary-0: #1973cd;
$scale-secondary-1: #196fc7;
$scale-secondary-2: #196fc7;
$scale-secondary-3: #1961b1;
$scale-secondary-4: #1859a5;
$scale-secondary-5: #18529a;
$scale-secondary-6: #184b8f;
$scale-secondary-7: #184484;
$scale-secondary-8: #173c78;

.text-scale-accent-0 { color: $scale-accent-0 }
.text-scale-accent-1 { color: $scale-accent-1 }
.text-scale-accent-2 { color: $scale-accent-2 }
.text-scale-accent-3 { color: $scale-accent-3 }
.text-scale-accent-4 { color: $scale-accent-4 }
.text-scale-accent-5 { color: $scale-accent-5 }
.text-scale-accent-6 { color: $scale-accent-6 }
.text-scale-accent-7 { color: $scale-accent-7 }
.text-scale-accent-8 { color: $scale-accent-8 }

.text-scale-secondary-0 { color: $scale-secondary-0 }
.text-scale-secondary-1 { color: $scale-secondary-1 }
.text-scale-secondary-2 { color: $scale-secondary-2 }
.text-scale-secondary-3 { color: $scale-secondary-3 }
.text-scale-secondary-4 { color: $scale-secondary-4 }
.text-scale-secondary-5 { color: $scale-secondary-5 }
.text-scale-secondary-6 { color: $scale-secondary-6 }
.text-scale-secondary-7 { color: $scale-secondary-7 }
.text-scale-secondary-8 { color: $scale-secondary-8 }

.bg-scale-accent-0 { background: $scale-accent-0 }
.bg-scale-accent-1 { background: $scale-accent-1 }
.bg-scale-accent-2 { background: $scale-accent-2 }
.bg-scale-accent-3 { background: $scale-accent-3 }
.bg-scale-accent-4 { background: $scale-accent-4 }
.bg-scale-accent-5 { background: $scale-accent-5 }
.bg-scale-accent-6 { background: $scale-accent-6 }
.bg-scale-accent-7 { background: $scale-accent-7 }
.bg-scale-accent-8 { background: $scale-accent-8 }

.bg-scale-secondary-0 { background: $scale-secondary-0 }
.bg-scale-secondary-1 { background: $scale-secondary-1 }
.bg-scale-secondary-2 { background: $scale-secondary-2 }
.bg-scale-secondary-3 { background: $scale-secondary-3 }
.bg-scale-secondary-4 { background: $scale-secondary-4 }
.bg-scale-secondary-5 { background: $scale-secondary-5 }
.bg-scale-secondary-6 { background: $scale-secondary-6 }
.bg-scale-secondary-7 { background: $scale-secondary-7 }
.bg-scale-secondary-8 { background: $scale-secondary-8 }