
.text-text { color: var( --q-text ); }

.bg-text { background: var( --q-text); }

.text-emphasis { color: var( --q-emphasis); }

.bg-emphasis { background: var( --q-emphasis); }

.text-scale-text-0 { color: var( --q-scale-text-0 ); }
.text-scale-text-1 { color: var( --q-scale-text-1 ); }
.text-scale-text-2 { color: var( --q-scale-text-2 ); }
.text-scale-text-3 { color: var( --q-scale-text-3 ); }
.text-scale-text-4 { color: var( --q-scale-text-4 ); }
.text-scale-text-5 { color: var( --q-scale-text-5 ); }
.text-scale-text-6 { color: var( --q-scale-text-6 ); }
.text-scale-text-7 { color: var( --q-scale-text-7 ); }
.text-scale-text-8 { color: var( --q-scale-text-8 ); }

.text-scale-secondary-0 { color: var( --q-scale-secondary-0 ); }
.text-scale-secondary-1 { color: var( --q-scale-secondary-1 ); }
.text-scale-secondary-2 { color: var( --q-scale-secondary-2 ); }
.text-scale-secondary-3 { color: var( --q-scale-secondary-3 ); }
.text-scale-secondary-4 { color: var( --q-scale-secondary-4 ); }
.text-scale-secondary-5 { color: var( --q-scale-secondary-5 ); }
.text-scale-secondary-6 { color: var( --q-scale-secondary-6 ); }
.text-scale-secondary-7 { color: var( --q-scale-secondary-7 ); }
.text-scale-secondary-8 { color: var( --q-scale-secondary-8 ); }

.bg-scale-text-0 { background: var( --q-scale-text-0 ); }
.bg-scale-text-1 { background: var( --q-scale-text-1 ); }
.bg-scale-text-2 { background: var( --q-scale-text-2 ); }
.bg-scale-text-3 { background: var( --q-scale-text-3 ); }
.bg-scale-text-4 { background: var( --q-scale-text-4 ); }
.bg-scale-text-5 { background: var( --q-scale-text-5 ); }
.bg-scale-text-6 { background: var( --q-scale-text-6 ); }
.bg-scale-text-7 { background: var( --q-scale-text-7 ); }
.bg-scale-text-8 { background: var( --q-scale-text-8 ); }

.bg-scale-secondary-0 { background: var( --q-scale-secondary-0 ); }
.bg-scale-secondary-1 { background: var( --q-scale-secondary-1 ); }
.bg-scale-secondary-2 { background: var( --q-scale-secondary-2 ); }
.bg-scale-secondary-3 { background: var( --q-scale-secondary-3 ); }
.bg-scale-secondary-4 { background: var( --q-scale-secondary-4 ); }
.bg-scale-secondary-5 { background: var( --q-scale-secondary-5 ); }
.bg-scale-secondary-6 { background: var( --q-scale-secondary-6 ); }
.bg-scale-secondary-7 { background: var( --q-scale-secondary-7 ); }
.bg-scale-secondary-8 { background: var( --q-scale-secondary-8 ); }
