
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700;800;900&display=swap');
$firaSansPath: './Fonts/Fira_Sans/FiraSans';

@font-face {
    font-family: 'Fira Sans', sans-serif;
    src: url('#{$firaSansPath}-Black.ttf') format('truetype');
    font-weight: 900;
}
@font-face {
    font-family: 'Fira Sans', sans-serif;
    src: url('#{$firaSansPath}-ExtraBold.ttf') format('truetype');
    font-weight: 800;
}
@font-face {
    font-family: 'Fira Sans', sans-serif;
    src: url('#{$firaSansPath}-Bold.ttf') format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: 'Fira Sans', sans-serif;
    src: url('#{$firaSansPath}-SemiBold.ttf') format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: 'Fira Sans', sans-serif;
    src: url('#{$firaSansPath}-Medium.ttf') format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: 'Fira Sans', sans-serif;
    src: url('#{$firaSansPath}-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Fira Sans', sans-serif;
    src: url('#{$firaSansPath}-Light.ttf') format('truetype');
    font-weight: 300;
}

body {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
}

// Override default insansely big font sizes

.text-h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 2rem;
    font-weight: 900;
    line-height: 1.3;
}

.text-h2 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1.3;
}

.text-h3 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.3;
}

.text-h4 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.3;
}

.text-h5 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.3;
}

.text-h6 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.3;
}

.text-smallheading {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.3;
}

.weight-light {
    font-weight: 300;
}

.weight-regular {
    font-weight: 400;
}

.weight-medium {
    font-weight: 500;
}

.weight-semibold {
    font-weight: 600;
}

.weight-bold {
    font-weight: 700;
}

.weight-extrabold {
    font-weight: 800;
}

.weight-black {
    font-weight: 900;
}